*{
	font-family: Verdana;
	color: #2F2F2F;
}

.b1{
	background-color: #DCDCDC;
	width: 55%;
	height: 80px;
	text-align: center;
	float: left;
}

.b2, .b3, .b4{
	background-color: #DCDCDC;
	width: 15%;
	height: 80px;
	float: left;
}

.lewy{
	background-color: #808080;
	width: 30%;
	height: 450px;
	float: left;
}

.prawy{
	background-color: #808080;
	width: 70%;
	height: 450px;
	float: left;
}

footer{
	background-color: #DCDCDC;
	text-align: center;
	clear: both;
}

h5{
	color: #808080;
	border: solid 1px #808080;
	margin: 7px;
	padding: 10px;
	font-size: 80%;
}

input{
	color: gray;
}

